<%= form_with(model: article_form) do |form| %>
  <% if article_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article_form.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article_form.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, class: 'label' %>
    <div class="control">
      <%= form.text_field :title, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :body, class: 'label' %>
    <div class="control">
      <%= form.text_area :body, class: 'textarea' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :cl_ids, class: 'label' %>
    <div class="columns is-multiline is-centered" id="cloudinary-fileupload-previews">
      <% article&.images&.each do |image| %>
        <div class="column is-2 is-flex">
          <figure>
            <%= cl_image_tag image.cl_id, width: 500, height: 500, crop: :fill %>
          </figure>
          <button type="button" class="delete is-medium js-delete-image-button" data-article-id="<%= article.id %>" data-image-id="<%= image.id %>"></button>
        </div>
      <% end %>
    </div>
    <div class="control">
      <div class="box has-text-centered has-background-light p-6" id="drop-zone">
        <p class="block">Drag and drop assets here</p>
        <p class="block">or</p>

        <div class="file is-primary is-inline-flex is-justify-content-center block">
          <label class="file-label">
            <%= form.cl_image_upload :cl_ids, return_delete_token: true, html: { class: 'file-input', accept: 'image/jpg, image/jpeg, image/png, image/webp', multiple: true, data: { cloudinary_field: 'article[cl_ids][]' } } %>
            <span class="file-cta">
              <span class="file-label">
                Choose a file…
              </span>
            </span>
          </label>
        </div>

        <div class="is-hidden block" id="cloudinary-fileupload-status">
          <progress class="progress is-primary" value="0" max="100" id="cloudinary-fileupload-progress"></progress>
          <span id="cloudinary-fileupload-message"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.submit class: 'button is-primary' %>
    </div>
  </div>
<% end %>

<%= cloudinary_js_config %>
<%= javascript_pack_tag 'jqueryCloudinaryMultipleUpload', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'removeImage', 'data-turbolinks-track': 'reload' %>
