<%= form_with(model: article_form) do |form| %>
  <% if article_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article_form.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article_form.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.label :cl_ids %>
    <%= form.file_field :cl_ids, multiple: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
