<h1>Articles</h1>

<%= link_to 'New Article', new_article_path %>

<div class="columns is-multiline">
  <% @articles.each do |article| %>
    <div class="column is-3">
      <div class="card">
        <div class="card-image">
          <figure class="image is-1by1">
            <% if article.images.first %>
              <%= cl_image_tag article.images.first.cl_id.url %>
            <% else %>
              <img src="https://placehold.jp/500x500.png">
            <% end %>
          </figure>
        </div>
        <div class="card-content">
          <p>
            ID: <%= article.id %>
          </p>
          <p>
            Title: <%= article.title %>
          </p>
          <p>
            Body: <%= article.body %>
          </p>
          <p>
            <%= link_to 'Show', article %> |
            <%= link_to 'Edit', edit_article_path(article) %> |
            <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
          </p>
          <p>
            <%= link_to 'New Images', new_article_image_path(article) %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
