<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'New Image', new_article_image_path(@article) %>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<p>
  <strong>Images:</strong>
  <%= 'No image' if @article.images.blank? %>
</p>

<div class="columns is-multiline">
  <% @article.images.each do |image| %>
    <div class="column is-one-fifth">
      <div class="card">
        <div class="card-image">
          <figure class="image is-1by1">
            <%= cl_image_tag image.cl_id, width: 500, height: 500, crop: :fill %>
          </figure>
        </div>
        <div class="card-content">
          <%= link_to 'Edit', edit_article_image_path(@article, image) %> |
          <%= link_to 'Destroy', article_image_path(@article, image), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  <% end %>
</div>
