<div class="field has-addons">
  <p class="control">
    <%= link_to '編集', edit_article_path(@article), class: 'button' %>
  </p>
  <p class="control">
    <%= link_to '削除', @article, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button' %>
  </p>
  <p class="control">
    <%= link_to '画像を追加', new_article_image_path(@article), class: 'button' %>
  </p>
</div>

<div class="content">
  <h1 class="title"><%= @article.title %></h1>
  <%= simple_format h(@article.body) %>
</div>

<div class="columns is-multiline">
  <% @article.images.each do |image| %>
    <div class="column is-one-fifth">
      <div class="card">
        <div class="card-image">
          <figure class="image is-1by1">
            <%= cl_image_tag image.cl_id, width: 500, height: 500, crop: :fill %>
          </figure>
        </div>
        <footer class="card-footer">
          <%= link_to '編集', edit_article_image_path(@article, image), class: 'card-footer-item' %>
          <%= link_to '削除', article_image_path(@article, image), method: :delete, data: { confirm: '本当に画像を削除しますか？' }, class: 'card-footer-item' %>
        </footer>
      </div>
    </div>
  <% end %>
</div>
