<%= form_with(model: [article, image]) do |form| %>
  <% if image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
        <% image.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="box has-text-centered has-background-light p-6" id="drop-zone">
    <p class="block">Drag and drop assets here</p>
    <p class="block">or</p>

    <div class="file is-primary is-flex is-justify-content-center block">
      <label class="file-label">
        <%= form.cl_image_upload :cl_id, return_delete_token: true, html: { class: 'file-input' } %>
        <span class="file-cta">
          <span class="file-label">
            Choose a file…
          </span>
        </span>
      </label>
    </div>

    <div class="is-hidden block" id="cloudinary-fileupload-status">
      <progress class="progress is-primary" value="0" max="100" id="cloudinary-fileupload-progress"></progress>
      <span id="cloudinary-fileupload-message"></span>
    </div>

    <figure id="cloudinary-fileupload-preview"></figure>
  </div>

  <div class="field">
    <div class="control">
      <%= form.submit class: 'button is-primary' %>
    </div>
  </div>
<% end %>

<div id="info"></div>

<%= cloudinary_js_config %>
<%= javascript_pack_tag 'jqueryCloudinaryUpload', 'data-turbolinks-track': 'reload' %>
