<%= form_with(model: [article, image]) do |form| %>
  <%= form.hidden_field :cl_id, name: 'image[cl_id]', value: image.cl_id.cache_name %>

  <% if image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
        <% image.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cl_id, class: 'label' %>
    <div class="columns is-multiline is-centered" id="cloudinary-fileupload-preview">
      <% if image.cl_id.present? %>
        <div class="column is-2 is-flex" id="current-image">
          <figure>
            <%= cl_image_tag image.cl_id, width: 500, height: 500, crop: :fill %>
          </figure>
          <% if image.errors.any? %>
            <button type="button" class="delete is-medium js-delete-image-cache-button" data-public-id="<%= image.cl_id.my_public_id %>"></button>
          <% else %>
            <%= link_to 'Destroy', article_image_path(article, image), method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete is-medium' %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="control">
      <div class="box has-text-centered has-background-light p-6" id="drop-zone">
        <p class="block">Drag and drop assets here</p>
        <p class="block">or</p>

        <div class="file is-primary is-inline-flex is-justify-content-center block">
          <label class="file-label">
            <%= form.cl_image_upload :cl_id, return_delete_token: true, html: { class: 'file-input', accept: 'image/jpg, image/jpeg, image/png, image/webp' } %>
            <span class="file-cta">
              <span class="file-label">
                Choose a file…
              </span>
            </span>
          </label>
        </div>

        <div class="is-hidden block" id="cloudinary-fileupload-status">
          <progress class="progress is-primary" value="0" max="100" id="cloudinary-fileupload-progress"></progress>
          <span id="cloudinary-fileupload-message"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.submit class: 'button is-primary' %>
    </div>
  </div>
<% end %>

<%= cloudinary_js_config %>
<%= javascript_pack_tag 'jqueryCloudinaryUpload', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'removeImageCache', 'data-turbolinks-track': 'reload' %>
