<p>
  <strong>Article:</strong>
  <%= link_to "Article #{@article.id}", article_path(@article) %>
</p>

<p>
  <strong>Cl:</strong>
  <%= @image.cl_id %>
</p>

<%= link_to 'Edit', edit_article_image_path(@article, @image) %> |
<%= link_to 'Destroy', article_image_path(@article, @image), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to "Article #{@article.id} Images", article_images_path(@article) %>
